[Unit]
Description=Marathon-LB service
After=network.target network-online.target marathon.service
Wants=network-online.target

[Service]
WorkingDirectory={{marathonlb_home}}
ExecStartPre=/bin/bash -c "pip install -r {{marathonlb_home}}/app/requirements.txt"
ExecStart=/bin/bash -c "{{marathonlb_home}}/app/marathon_lb.py --marathon http://localhost:8080 --group external --haproxy-map"
Type=simple

[Install]
WantedBy=multi-user.target
