[Unit]
Description=Marathon-LB service
After=network.target network-online.target marathon.service
Wants=network-online.target

[Service]
WorkingDirectory={{marathonlb_home}}/app
ExecStartPre=/bin/bash -c "pip install -r {{marathonlb_home}}/app/requirements.txt"
ExecStart=/bin/bash -c "docker run -e PORTS={{marathonlb_ports}} --net=host mesosphere/marathon-lb sse --group \"*\""
Type=simple

[Install]
WantedBy=multi-user.target
